*{
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(./img/FondoPantallaDos.png);
}
header,main,footer{
    width:100%;
    position: relative;
    
}

main article{
    width:100%;
    height:100vh;
    display:flex;
    align-content: center;
    flex-direction: column;
}
#logo{
    width:100%;
    height: 450px;
    text-align: center;
}
#logo img{
    width:50%;
}
#pregunta{
    width: 100%;
    text-align: center;
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 450%;
}
#ciudadesBotones{

    width:100%;
    height: 20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#ciudadesBotones div{
    width:12%;
    height:60px;
    margin: 0 auto;
    display: flex;

}

#ciudadesBotones div a{
    width:100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-decoration-line: none;
}

#ciudadesBotones div a p{
    margin-top: 40;
    color: white;
    text-align: center;
    margin:0 auto;
    height: 100%;
}



