*{
    margin: 0;
    user-select: none;
}

body{
    width:100%;
    height: 100vh;
}

header,main,footer{
    width:100%;
    position: relative;
}

footer{
    background-image: url(../img/FondoPantallaDos.png);
    padding: 0;
}

footer p{
    font-size: 140%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(255, 255, 255, 0.575);
    text-align: center;
    padding: 5%;
}

header{
    background-image: url(../img/FondoPantallaDos.png);
}
header nav{
    width:100%;
    background: rgb(8, 11, 39);
}

header nav ul{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 2%;
    margin: 0 auto;
}

header nav ul a{
    margin: 0 auto;
    list-style: none;
    text-decoration-line: none;
    color: white;
}

header nav ul li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 150%;
    
}

.logo{
    width:100%;
    text-align: center;
    margin: 0 auto;
}
.logo img{
    width:12%;
}

main{
    background-image: url(../img/FondoPantallaDos.png);
}
article{
    width:60%;
    text-align: center;
    margin:0 auto;
    padding-top: 5%;
    
}

#reserva{
    color: white;
    font-size: 400%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10%;
}

#cont{
    flex-wrap: wrap;
    display: flex;
    width:100%;
    flex-direction: row;
    align-items: center;
}

#cont div{
    padding-top:1%;
    padding:2%;
    width:25%;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}

#cont div img{
    padding:15%;
    width:40%;
    margin:0 auto;
    align-items: center;
}

#cont div input{
    cursor: pointer;
    width: 25px;
    height:25px;
}

article a{
    display: block;
    margin: auto;
    width: 30%;
    padding-top: 2%;
    padding-bottom: 2%;
    background: rgb(252, 196, 21);
    margin-top: 2vh;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration-line: none;
    color:white;
    text-decoration-line: none;
}

@media screen and (max-width:800px){
    #cont div input{
        width:15px;
        height: 15px;
    }
    #reserva{
        font-size: 200%;
        padding-bottom: 5%;
    }
    
}

@media screen and (max-width:700px){
    #cont div input{
        width:12px;
        height: 12px;
    }
    #reserva{
        font-size: 100%;
        padding-bottom: 5%;
    }
}
