*{
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
}
header,main,footer{
    width:100%;
    position: relative;
    background-image: url(../img/FondoPantallaDos.png)
}

main article{
    width:100%;
    display:flex;
    align-content: center;
    flex-direction: column;
}
#logo{
    width:100%;
    text-align: center;
}
#logo img{
    width:50%;
}
#pregunta{
    width: 100%;
    text-align: center;
    color: cornsilk;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 450%;
}
#ciudadesBotones{
    flex-direction: row;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#ciudadesBotones div{
    width:12%;
    margin: 0 auto;
    display: flex;

}

#ciudadesBotones div a{
    width:100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 200%;
    text-decoration-line: none;
}

#ciudadesBotones div a p{
    color: white;
    text-align: center;
    margin:0 auto;
    height: 100%;
}

@media only screen and (max-width:600px) {
    #pregunta{
        font-size: 250%;
    }
    #ciudadesBotones{
        flex-direction: column;
    }
    #ciudadesBotones div a{
        font-size: 100%;
    }
}


@media only screen and (max-width:768px) and (min-width:481px) {
    #pregunta{
        font-size: 150%;
    }
}



